{{ include('partials/header.twig') }}

{{ form_start(form) }}

	<div>
		{{ form_label(form.name) }}
		{{ form_widget(form.name,{attr:{placeholder:'John'}}) }}
		{{ form_errors(form.name) }}
	</div>

	<div>
		{{ form_label(form.email) }}
		{{ form_widget(form.email,{attr:{placeholder:'john.snow@gmail.com'}}) }}
		{{ form_errors(form.email) }}
	</div>

	<div>
		{{ form_label(form.subject) }}
		{{ form_widget(form.subject) }}
		{{ form_errors(form.subject) }}
	</div>

	<div>
		{{ form_label(form.message) }}
		{{ form_widget(form.message,{attr:{placeholder:'u know nothing'}}) }}
		{{ form_errors(form.message) }}
	</div>

	<div>
		{{ form_widget(form.submit) }}
	</div>

{{ form_end(form) }}


{{ include('partials/footer.twig') }}