{{ include('partials/header.twig') }}

{% if sent %}
	<div class="alert alert-success" role="alert">Email sent</div>
{% endif %}

<form action="#" method="post">
    
    <div class="form-group">
		<label for="form_name">Name</label>
		{{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
	</div>
	<div class="form-group">
		<label for="form_email">Email</label>
		{{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
	</div>
	<div class="form-group">
		<label for="form_message">Message</label>
		{{ form_widget(form.message,{'attr':{'class':'form-control'}}) }}
	</div>

	{{ form_row(form._token) }}

    <input type="submit" name="submit" class="btn btn-primary"/>
</form>

{{ include('partials/footer.twig') }}