{{include('partials/header.twig')}}

<h2>Article title</h2>
<p>Bane was a member of the League of Shadows. And then he was excommunicated. And any man who is too extreme for Ra's Al Ghul, is not to be trifled with.</p>
<p>You wanna know how I got these scars? My father was... a drinker, and a fiend. And one night, he goes off crazier than usual. Mommy gets the kitchen knife to defend herself. He doesn't like that, not one bit. So, me watching he takes the knife to her, laughing while he does it. He turns to me and he says: "Why so serious?". He comes at me with the knife "Why so serious?". He sticks the blade in my mouth. "Let's put a smile on that face." and... Why so serious?</p>
<a href="#" class="btn btn-success">Lire la suite</a>
<hr>

<h2>Article title</h2>
<p>Bane was a member of the League of Shadows. And then he was excommunicated. And any man who is too extreme for Ra's Al Ghul, is not to be trifled with.</p>
<p>You wanna know how I got these scars? My father was... a drinker, and a fiend. And one night, he goes off crazier than usual. Mommy gets the kitchen knife to defend herself. He doesn't like that, not one bit. So, me watching he takes the knife to her, laughing while he does it. He turns to me and he says: "Why so serious?". He comes at me with the knife "Why so serious?". He sticks the blade in my mouth. "Let's put a smile on that face." and... Why so serious?</p>
<a href="#" class="btn btn-success">Lire la suite</a>
<hr>

<h2>Article title</h2>
<p>Bane was a member of the League of Shadows. And then he was excommunicated. And any man who is too extreme for Ra's Al Ghul, is not to be trifled with.</p>
<p>You wanna know how I got these scars? My father was... a drinker, and a fiend. And one night, he goes off crazier than usual. Mommy gets the kitchen knife to defend herself. He doesn't like that, not one bit. So, me watching he takes the knife to her, laughing while he does it. He turns to me and he says: "Why so serious?". He comes at me with the knife "Why so serious?". He sticks the blade in my mouth. "Let's put a smile on that face." and... Why so serious?</p>
<a href="#" class="btn btn-success">Lire la suite</a>
<hr>

{% if number is defined %}
	<nav>
		<ul class="pagination">
		    <li class="{{active_number == 1 ? 'active' : ''}}"><a href="{{url('page',{number:1})}}">1</a></li>
		    <li class="{{active_number == 2 ? 'active' : ''}}"><a href="{{url('page',{number:2})}}">2</a></li>
		    <li class="{{active_number == 3 ? 'active' : ''}}"><a href="{{url('page',{number:3})}}">3</a></li>
	  	</ul>
	</nav>
{% endif %}

{{include('partials/footer.twig')}}