{{include('partials/header.twig')}}

{{ form_start(form) }}

	{{ form_errors(form) }}

	<div class="form-group">
		{{ form_label(form.name) }}
		{{ form_widget(form.name,{attr:{placeholder:'John',class:'form-control'}}) }}
		{{ form_errors(form.name) }}
	</div>

	<div class="form-group">
		{{ form_label(form.email) }}
		{{ form_widget(form.email,{attr:{placeholder:'john.snow@gmail;com',class:'form-control'}}) }}
		{{ form_errors(form.email) }}
	</div>

	<div class="form-group">
		{{ form_label(form.subject) }}
		{{ form_widget(form.subject) }}
		{{ form_errors(form.subject) }}
	</div>

	<div class="form-group">
		{{ form_label(form.message) }}
		{{ form_widget(form.message,{attr:{placeholder:'u know nothing',class:'form-control'}}) }}
		{{ form_errors(form.message) }}
	</div>

	<div class="form-group">
		{{ form_widget(form.submit,{attr:{class:'btn btn-primary'}}) }}
	</div>

{{ form_end(form) }}

{{include('partials/footer.twig')}}