<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{app.request.basepath}}/src/css/style.css">
</head>
<body>
	<header>
		<ul>
			<li>
				<a href="{{url('home')}}">Home</a>
			</li>
			<li>
				<a href="{{url('about')}}">About</a>
			</li>
			<li>
				<a href="{{url('contact')}}">Contact</a>
			</li>
		</ul>
	</header>

	<nav>
		<ul>
			<li>
				<a href="{{url('category',{category:'films'})}}">Films</a>
			</li>
			<li>
				<a href="{{url('category',{category:'musique'})}}">Musique</a>
			</li>
			<li>
				<a href="{{url('category',{category:'series'})}}">Séries</a>
			</li>
		</ul>
	</nav>